* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

h3 {
    margin-top: 15px;
    margin-left: 100px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-left: 800px;
    margin-top: -20px;

}