* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15%;

}

h3 {
    color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    

}

a {
    color: white;
    margin: 10px;
}


.hero-section {
    background-color: #1F2937;
    padding: 10px 30px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;

}

.hero-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text {
    padding: 100px 15%;
}

.hero-text button {
    background-color: #3882F6;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 20px;
    height: 60px;
    border-radius: 15px;;
}