* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}


header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 16px 15%;

}

h3 {
    color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    

}

a {
    color: white;
    margin: 10px;
}