* {
box-sizing: border-box;
text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15%;

}

h3 {
    color: white;
}



nav {
    display: flex;
    justify-content: space-evenly;
    

}

a {
    color: white;
    margin: 10px;
}


.hero-section {
    background-color: #1F2937;
   display: flex;
   align-items: center;
   padding: 100px 15%;
}



.hero-section img {
    width: 500px; 
    height: auto; 
    border-radius: 10px;
}


h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;

}

.hero-text p {
    color: #E5E7EB;
    font-size: 18px;
}


.hero-text button {
    background-color: #3882F6;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding: 12px 45px;
    font-weight: bold;
    font-size: 18px; 
    cursor: pointer;
    border-radius: 8px;
}

.info-section h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.hero-text {
   flex: 1; 
   padding-right: 50px; 
}


.cards-container {
    display: flex; 
    justify-content: center; 
    gap: 40px; 
    padding: 40px 100px; 
}

    .card {
    text-align: center;
    width: 200px
}

.card img {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    border: 4px solid #3882F6; 
    border-radius: 15px; 
    margin-bottom: 10px; 
}

.quote p {
   text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
}

.author {
    display: flex;
    justify-content: end;
    font-size: 18px;
    font-weight: 800;
    margin-right: 450px;

}

.cta-section {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 25%;
    background-color: #3882F6;
    width: 50%;
    height: 125px;
    border-radius: 8px;;
}

.cta-section button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border-color: white;
    background-color: #3882F6;
    color: white;
    margin-top: 50px;
    box-shadow: none;
}


.cta-text { 
    color: #E5E7EB;
    margin-top: 40px;
    margin-right: 150px;

}



footer {
    display: flex;;
justify-content: center;
background-color: #1F2937;
height: 90px;
margin-top: 100px;
}

footer P {
    color:#E5E7EB;
    margin-top: 40px;
}